@charset " UTF-8";

*{
    margin: 0;
    padding: 0;
}

html,body{
    min height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header  a, footer a{

    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover , footer a:hover{
    text-decoration: underline;
}  

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 2em;
}

.normal{
    background-color: #fff;
    color: black;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.192);
    color: #fff;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.123);
    width:  400px;
}

footer{
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 15px;
}